:root {
  --primary: #009688;
  --primary-dark: #00695c;
  --primary-rgb: 0, 150, 136;
  --background: #e0f2f1;
  --header-bg: #004d40;
  --text: #222;
  --text-light: #e0f2f1;
  --card-bg: #fff;
  --card-border: #b2dfdb;
  --card-image-bg: #b2dfdb;
  --dropdown-bg: white;
  --dropdown-text: #222;
  --category-bg: #c8ebe9;
  --category-border: #a5d5d3;
  --card-glow: rgba(0,150,136,0.07);
  --card-glow-hover: rgba(0,150,136,0.33);
  --gradient-start: #20e2d7;
  --gradient-end: #1fa2ff;
}
